.barentsburg {
  display: none;
  margin: 0 auto;
  margin-top: 85px;
  width: 1184px;
}

.barentsburg__block {
  display: flex;
  margin-top: 48px;
}

.barentsburg__left-block {
  margin-right: 120px;
  width: 380px;
}

.barentsburg__right-block {
  width: 282px;
}

.barentsburg__coord {
  margin: 0;
  margin-top: 20px;
  width: 583px;
  font-size: 42px;
  line-height: 61px;
  color: #fff;
}

.barentsburg__link {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #fff;

  &:hover {
    opacity: 0.7;
  }
}

.barentsburg__map {
  margin-top: 48px;
  width: 100%;
}

.barentsburg__text {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.barentsburg__title {
  margin: 0;
  width: 583px;
  font-weight: 900;
  font-size: 42px;
  line-height: 61px;
  color: #fff;
}

.barentsburg__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #aaa;
}
