.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  width: 90%;

  &__logo {
    transition: transform 0.3s;

    img {
      display: block;
      object-fit: cover;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__langs {
    display: flex;
    align-items: center;
  }

  &__lang {
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.3s;

    &_active {
      text-decoration: underline;
    }

    &:hover {
      opacity: 0.7;
    }

    &:first-child {
      margin-right: 15px;
    }
  }
}
