.photo-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 92px;
  max-width: 1184px;
}

.photo-grid__item {
  padding-top: 16px;
  max-width: 284px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
  }

  .photo-grid__item {
    padding-top: 14px;
    max-width: 300px;
  }
}

@media screen and (max-width: 1216px) {
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo-grid__item {
    padding-right: 14px;
  }
}

@media screen and (max-width: 927px) {
  .photo-grid__item {
    padding-top: 16px;
    padding-right: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width: 703px) {
  .photo-grid {
    padding-top: 48px;
    max-width: 343px;
  }

  .photo-grid__item {
    padding-right: 0;
    max-width: 343px;
  }
}

@media screen and (max-width: 374px) {
  .photo-grid__item {
    padding-top: 8px;
    max-width: 288px;
  }
}
