.additional {
  display: none;
  margin: 0 auto;
  margin-top: 102px;
  width: 1184px;
}

.additional__container {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  width: 1184px;
}

.additional__heading {
  position: absolute;
  top: 30px;
  z-index: 1;
  margin: 0;
  width: 248px;
  font-weight: 900;
  font-size: 27px;
  line-height: 29px;
  color: #fff;
}

.additional__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 284px;
}

.additional__item-bg {
  z-index: 0;
}

.additional__item-bg img {
  border-radius: 5px;
  width: 100%;
  opacity: 0.5;
}

.additional__text {
  position: absolute;
  bottom: 30px;
  z-index: 1;
  margin: 0;
  width: 248px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
