.comments {
  margin: 0 auto;
  width: 90%;
  max-width: 1184px;
}

.comment {
  display: flex;
  flex-direction: column;
  max-width: 382px;
}

.comments__author {
  margin: 0;
  max-width: 382px;
  font-weight: 900;
  font-size: 14rem;
  line-height: 1.5;
  color: #fff;
}

.comments__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 66px;
  max-width: 1184px;
}

.comments__image {
  margin-bottom: 42px;
  border-radius: 50%;
  width: 97px;
  height: 97px;
}

.comments__image img {
  width: 100%;
}

.comments__quote {
  margin: 0;
  padding-bottom: 24px;
  max-width: 382px;
  font-weight: 400;
  font-size: 14rem;
  line-height: 1.5;
  color: #fff;
}

@media screen and (max-width: 1273px) {
  .comments {
    max-width: 928px;
  }

  .comments__quote {
    max-width: 296px;
  }
}

@media screen and (max-width: 986px) {
  .comments {
    max-width: 660px;
  }

  .comments__container {
    justify-content: center;
  }

  .comment {
    align-items: center;
  }

  .comments__image {
    order: 1;
    margin-bottom: 16px;
  }

  .comments__quote {
    order: 2;
    padding-bottom: 47px;
    max-width: 382px;
    font-size: 16rem;
  }

  .comments__author {
    order: 1;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 539px) {
  .comments__container {
    padding-top: 42px;
  }
}
