.content-subtitle {
  text-align: center;
  margin: 0 auto;
  padding-top: 48px;
  max-width: 640px;
  font-weight: normal;
  font-size: 24rem;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (max-width: 539px) {
  .content-subtitle {
    padding-top: 16px;
    font-size: 16rem;
  }
}
