.cover {
  margin: 0 auto;
  margin-top: 102px;
  max-width: 1184px;
  max-height: 594px;

  &:hover {
    opacity: 0.8;
  }
}

.cover-bg {
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
}

.cover__link {
  text-decoration: none;
}

.cover__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.cover__subtitle {
  margin: 0;
  padding-top: 134px;
  padding-bottom: 48px;
  max-width: 382px;
  font-weight: 400;
  font-size: 18rem;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

.cover__title {
  margin: 0;
  padding-top: 274px;
  max-width: 1094px;
  font-weight: 900;
  font-size: 72rem;
  line-height: 1;
  text-align: center;
  color: #fffdfd;
  opacity: 1;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-height: 562px;
  }

  .cover__title {
    padding-top: 210px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 574px;
  }

  .cover__subtitle {
    padding-top: 112px;
  }
}

@media screen and (max-width: 986px) {
  .cover {
    margin-top: 55px;
    min-height: 500px;
  }

  .cover__title {
    padding-top: 162px;
  }

  .cover__subtitle {
    padding-top: 69px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 0;
    min-height: auto;
    max-height: 272px;
  }

  .cover__title {
    padding-top: 76px;
    max-width: 246px;
    font-size: 32rem;
  }

  .cover__subtitle {
    padding-top: 45px;
    padding-bottom: 40px;
    max-width: 271px;
    font-size: 14rem;
  }
}
