.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1184px;
  width: 90%;
}

.header__lang {
  margin: 0;
  font-weight: normal;
  font-size: 24rem;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
  &:first-child {
    margin-right: 18px;
  }
}

.header__lang_active {
  text-decoration: underline;
}

.header__logo {
  margin: 0;
  padding-bottom: 8px;
  max-width: 176px;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
  }

  .header__logo {
    max-width: 142px;
  }

  .header__lang {
    font-size: 18rem;
  }
}
