.video {
  margin: 0 auto;
  max-width: 1184px;
  width: 90%;
}

.video__container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 72px;
  max-width: 1184px;
  width: 100%;
}

.video__duration {
  margin: 0;
  margin-top: 94px;
  margin-left: 30px;
  font-weight: normal;
  font-size: 12rem;
  line-height: 1;
  letter-spacing: 0.3em;
  color: #ffffff;
}

.video__icon_type_play {
  margin-top: 30px;
  margin-left: 30px;
}

.video__icon {
  max-width: 41px;
}

.video__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 16px;
  max-width: 583px;
  max-height: 323px;
  width: 100%;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
  &:last-child {
    margin-right: 0;
  }
}

.video__item_kamchatka-bg {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../images/kamchatka.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.video__item_observatory-bg {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../images/observatory.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.video__subtitle {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14rem;
  line-height: 1;
  color: #ffffff;
}

.video__title {
  margin: 0;
  margin-top: 12px;
  margin-left: 30px;
  margin-bottom: 18px;
  max-width: 322px;
  font-weight: bold;
  font-size: 36rem;
  line-height: 1.2;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .video {
    width: 100%;
  }
}

@media screen and (max-width: 1279px) {
  .video__duration {
    margin-top: 54px;
  }

  .video__subtitle {
    margin-bottom: 35px;
  }

  .video__item-block {
    max-height: 288px;
  }

  .video__item {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .video__title {
    margin-top: 8px;
    margin-left: 24px;
    margin-bottom: 12px;
    font-size: 24rem;
  }

  .video__icon_type_play {
    margin-top: 24px;
    margin-left: 24px;
  }

  .video__duration {
    margin-left: 24px;
    margin-top: 17px;
  }

  .video__item-block {
    max-height: 200px;
  }

  .video__subtitle {
    margin-left: 24px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .video__container {
    flex-wrap: wrap;
    max-height: 100%;
  }

  .video__item {
    margin-right: 0;
    margin-bottom: 8px;
    min-height: 200px;
  }

  .video__item:last-child {
    margin-bottom: 0;
  }
}
